@media (min-width: 840px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.navbar {
		flex-direction: row;
	}
	.navbar a {
		display: block;
		flex: 2 1 100%;
	}
	#menu {
        display: none;
    }
}
/* directory */

@media (max-width: 700px) {
  #members-container.grid {
    grid-template-columns: 1fr;
  }
}


/* home page */
@media (max-width: 800px) {
    .spotlight-cards {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        height: 180px;
    }
}
@media (max-width: 600px) {
    .events {
        padding: 1rem 0.5rem;
        font-size: 1rem;
    }
    .events h2 {
        font-size: 1.2rem;
    }
  }
  @media (max-width: 600px) {
    .weather {
        padding: 1rem 0.5rem;
        font-size: 1rem;
    }
    .weather h2 {
        font-size: 1.2rem;
    }
  }
  /* Join */
  @media (min-width: 900px) {
    .join-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .join-form {
        flex: 2;
    }
    .membership-cards {
        flex: 1;
        margin-left: 2rem;
    }
}
@media (min-width: 900px) {
    .membership-cards {
        margin-top: 0;
    }
}

