/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.navbar {
		flex-direction: column;
        display: none;
	}

    .navbar.open {
        display: flex;
    }
	#menu {
        display: block;
    }
    .navbar a {
        padding: 0.5rem;
    }

    main {
        padding: 10px;
    }

    .card1 {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .fyi {
        padding: 10px;
    }

    #directory {
        padding: 10rem;
    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .sociallinks {
        flex-direction: column;
        align-items: center;
    }
}


/* Large screens (desktops) */
@media screen and (min-width: 1025px) {
   
    .navbar {
        display: flex;
    }
    #menu {
        display: none;
    }
}